<header id="header">
				<h1 id="logo"><a href="/">SockDrawer</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Welcome</a></li>
						<li><a href="/about.html">About Us</a></li>
                        <li><a href="/blog.html">News</a></li>
						<li class="submenu">
							<a href="#" data-proofer-ignore>Docs</a>
							<ul>
								<li><a href="http://sockbot.readthedocs.io/">Sockbot</a></li>
								<li><a href="http://sockmafia.readthedocs.io/">Sockmafia</a></li>
							</ul>
						</li>
						<li><a href="http://www.github.com/SockDrawer" class="button special">Fork us on Github</a></li>
					</ul>
				</nav>
			</header>